.trusted_title{
    font-size: 29px;
    font-weight: bold;
    margin-top: 80px;
}

.trusted_subtitle{
    font-size: 19px;
    padding-bottom: 30px;
}


@media screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }

    .title{
        font-size: 20px;
        font-weight: bold;
    }

  }
