@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400&display=swap");

.logo_div1 {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
}

/* .logo_dv2{
    margin-top: 10px;
    display: flex;
} */

.logo {
  width: 30%;
  height: auto;
  margin: 0 auto;
  justify-content: center;
}

.TAndCheading {
    margin-top: 20px;
  color: green;
  font-family: 'Gotham Bold';
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0;
}

.TAndCsub_heading {
  color: #000000;
  font-family: "Gotham Medium";
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin: 20px 0px 10px 100px;
}

.para {
  color: #000000;
  font-family: 'Gotham Light';


  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.5px;
  margin: 10px 110px 10px 110px;
  text-align: justify;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .TAndCheading {
      margin-top: 3%;
        font-size: 20px;
      }

  .TAndCsub_heading {
    font-size: 14px;
    margin: 20px 30px 10px 30px;
  }

  .para {
    font-size: 12px;
    margin: 10px 30px 10px 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    .TAndCheading {
      margin-top: 2%;
        font-size: 25px;
      }

  .TAndCsub_heading {
    margin: 20px 5px 10px 50px;
  }

  .para {
    margin: 10px 50px 10px 50px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .TAndCheading {
        font-size: 33px;
      }

  .TAndCsub_heading {
    margin: 20px 70px 10px 70px;
  }

  .para {
    margin: 10px 70px 10px 70px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .TAndCheading {
        font-size: 37px;
      }

  .TAndCsub_heading {
    margin: 20px 90px 10px 90px;
  }

  .para {
    margin: 10px 90px 10px 90px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .TAndCheading {
        font-size: 42px;
      }

    .TAndCsub_heading {
        margin: 20px 110px 10px 110px;
      }
    
      .para {
        margin: 10px 110px 10px 110px;
      }
    }

