/* styles.css */
.popup-container {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    background-image: url('https://cdn.pixabay.com/photo/2016/05/25/07/56/start-1414148_1280.jpg');
    background-size: cover;
  }
  .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.432) !important; /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ReactModal__Content{
    border-radius: 25px !important;
    padding: 0px !important;
}
  
  .left-div{
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-div h2{
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
  }
  
  .right-div {
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* form.css */
.form-container {
     color: black;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    min-width: 100px;
    max-width: 370px;

  }
  
  .form-title {
    margin-bottom: 0px;
    font-size: 1.2rem;
    
  }
  
  .form-subtitle {
    color: rgba(5, 5, 5, 0.687);
    font-size: 0.9rem;
  }
  
  .label {
    font-size: 0.9rem;
    display: block;
    
  }
  .input-group{
    margin-bottom: 8px;
  }

  
  .input-group input{
    width: 90%;
    height: 39px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px !important;
  }
  

  .modal-form-submiotBtn{
    color: #ffffff;
    font-weight: bold;
    margin-top: 5%;
margin-left: 30%;
   
    padding: 5px 15px;
    background: green;
    border: 1px solid green;
    border-radius: 5px;
  }
  .error-message {
    color: red;
    margin: 0px !important;
    font-size: 0.9rem;
  }










  .close-button {
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 1.5rem;
    background-color: grey;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }














  @media (max-width: 768px) {
    .popup-container {
      flex-direction: column;
      min-height: 101vh;
    
    }
    .close-button {
        position: absolute;
        top: 2%;
        right: 4%;
        font-size: 1rem;
        background-color: grey;
        border-radius: 50%;
        border: none;
        cursor: pointer;
      }
  
    .left-div,
    .right-div {
      flex: initial;
      width: 100%;
    }
    .ReactModal__Overlay {
        background-color: rgba(0, 0, 0, 0.432) !important; /* Semi-transparent overlay */
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .ReactModal__Content {
        position: relative;
        top: 2% !important;
        left: 2% !important;
        right: 2% !important;
        bottom: 2% !important;
   max-width: 100% !important;
        border: none;
        border-radius: 0;
        padding: 0;
        background: none;
        overflow: hidden;
      }
  }
  