ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
margin-top: 4%;

}
.footer-widget{
  margin-left: 10%;
  margin-bottom: 10%;
}
.footer-widget-heading{
  color:white;
  font-weight: bold;
  margin-bottom: 10px;

}

.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 10px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {

font-size: 16px;
    color: white;
line-height: 28px;
}
.footer-social-icon span {
  
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
 
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;

margin-right: 40px;
}

.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}

.footer-widget ul li {
display: inline;



}
.footer-widget ul li a:hover{
color: green;
}
.footer-widget ul li a {
  font-size: 1.2rem;
  text-decoration: none;
color:white;
text-transform: capitalize;
}




.footer-menu a{
  text-decoration: none;
}
