/* Custom NavBar styles */
nav{
padding: 1% !important;
}

  .navbar-logo {
    height: 100%; /* Adjust the height as needed */
    transform: scale(4);
    width: 20%;
   
  }
  nav .nav-link{
    font-weight: bold;
    color: #000 !important; 
   
  }
  .brand{
    margin-left: 8%;
    width: 20%;
  }

  .navbar-options a {
    text-decoration: none;
    font-weight: bold;
    color: #000 !important; 
    font-size: 1 rem ;
    
  }
  
  .submit-app-btn{
    border: 1px solid green;
    border-radius: 20px;


  }
  
  