/* Custom NavBar styles */
.navbar{
  min-height: 100px;
}
nav{
padding: 1% !important;
}

  .navbar-logo {
    transform: scale(3);
    width: 50px;
  }
  nav .nav-link{
    transition: 0.3s ease;
    font-size: 17px;
    cursor: pointer;
    color: #000;
    margin-right:20px;
   
  }
  nav .nav-link:hover{
    border-top: 1px solid #4ca94c;
    border-bottom: 1px solid #4ca94c;
    padding: 6px 0;
    color: #4ca94c
  }
  .brand{
    margin-left: 3%;
    width: 20%;
  }

  .navbar-options a {
    text-decoration: none;
    font-weight: 500;
    color: #000 !important; 
    font-size: 1 rem ;
    
  }
  
  .submit-app-btn{
    border: 1px solid green;
    border-radius: 20px;


  }
  @media screen and (max-width: 768px) {
    .navbar{
      min-height: 64px;
    }

    .navbar-logo {
      transform: scale(2);
      width: 50px;
    }


    nav{
      padding: 3% !important;
    }
  }
  
