/* Custom NavBar styles */
nav{
padding: 1% !important;
}

  .navbar-logo {
    transform: scale(2);
    width: 50px;
   
  }
  nav .nav-link{
    font-size: 1.2rem;
   
    font-weight: 500;
    cursor: pointer;
    color: #000 !important; 
   
  }
  nav .nav-link:hover{
    font-weight: 500;
    cursor: pointer;
    color: rgba(96, 87, 87, 0.505) !important; 
   
  }
  .brand{
    margin-left: 3%;
    width: 20%;
  }

  .navbar-options a {
    text-decoration: none;
    font-weight: 500;
    color: #000 !important; 
    font-size: 1 rem ;
    
  }
  
  .submit-app-btn{
    border: 1px solid green;
    border-radius: 20px;


  }
  @media screen and (max-width: 768px) {



    nav{
      padding: 3% !important;
    }
  }
  
