
  .lending-color {
    color: #418a41;
  }
  .grid-container {
    margin-bottom: 4%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  
  }
  .whyChoose_grid-container {
    margin-bottom: 4%;
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
  }

  .ChooseCountry_grid-container {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
  }
  
  .grid-item {
    /* background-color: #f0f0f0; */
    height: 100px;
    border-radius: 15px;
  }

  .grid-item img{
    border-radius: 10px;
    width: 100%;
  }

  .grid-item:hover {
    cursor: pointer;
    border: none;
    height: 80px;    
    transform: scale(1.05); /* Increase size by 5% on hover */
  }
  .grid-item img:hover{
    border: none;
  }
  
  .description {
    width: 40%;
  }
  .section {
    width: 20%;
  }
  /*country*/
  
  
  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .whyChoose_grid-container {
        display: grid;
        padding: 5%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      
      }
      .ChooseCountry_grid-container {
       
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      
      }

  }
