.grid-item2 {
    
    padding-top: 15px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    height: 61px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
  }
  /* .grid-item2:hover {

    transform: scale(1.05);
    background-color: black;
    color: white;
  } */

  @media screen and (max-width: 480px) {
    .grid-item2 {
      /* background-color: #f0f0f0; */
      padding-top: 8%;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      height: 70px;
      border: 1px solid black;
      border-radius: 10px;
      width: 100%;
    }

  
    
  }
  