/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@font-face {
  font-family: 'Gotham Medium';
  src: url('./fonts/GothamRounded-Medium.otf') format('opentype');
  /* Add other font formats if available */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Light';
  src: url('./fonts/GothamRounded-Light.otf') format('opentype');
  /* Add other font formats if available */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('./fonts/GothamRounded-Bold.otf') format('opentype');
  /* Add other font formats if available */
  font-weight: normal;
  font-style: normal;
}


